<nav class="d-inline-flex fixed-bottom nav-justified bg-primary p-2">
    <NavLink class="nav-link nav-item text-white" href="">
        <span>Home</span>
    </NavLink>
    <NavLink class="nav-link nav-item text-white" href="counter">
        <span>Counter</span>
    </NavLink>
    <NavLink class="nav-link nav-item text-white" href="fetchdata">
        <span>Fetch Data</span>
    </NavLink>
</nav>


@code {

}
