@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="CheckInternet">Check Internet</button>

<button class="btn btn-primary" @onclick="DisplayMsg">Display Msg</button>


@code {
    private int currentCount = 0;
    private string msg = "";

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount = currentCount + IncrementAmount;
    }

    private async void CheckInternet()
    {
        bool hasInternet = Microsoft.Maui.Networking.Connectivity.Current.NetworkAccess == NetworkAccess.Internet;

        var internetType = Connectivity.Current.ConnectionProfiles.FirstOrDefault();

        msg = await Application.Current.MainPage.DisplayPromptAsync("Title", "No");
    }

    private async void DisplayMsg()
    {
        await Application.Current.MainPage.DisplayAlert("Message", msg, "OK");
    }
}
