@page "/fetchdata"

@using ITP_Prototyp_mb.Data
@inject IJSRuntime jsRuntime

<h1>Prior Locations</h1>

<p>All requests for prior locations are listed here.</p>

<table class="table">
    <thead>
        <tr>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (string location in locations)
        {
            <tr>
                <td>@location</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<string> locations;

    protected override void OnInitialized()
    {
        locations = new Locations().GetLocations();
    }
}
